@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}

<div class="text-center" style="margin-bottom:4%; margin-top: 5%;">

    <div class=" lo card mx-auto" style="width: 30rem; padding: 20px;">
        <div class="card-body">
            <img src="~/Image/profile-icon.jpg" alt="User Avatar" class="rounded-circle mb-3" style="width: 150px; height: 150px; object-fit: cover;" />
            <h5 class="card-title">Trịnh Anh Minh</h5>
            <p class="card-text">
                <strong>Mã số sinh viên:</strong> 123456789<br />
                <strong>Tên tài khoản: </strong>Anh Minh<br />
                <strong>Số trang hiện tại: </strong> 100 trang
            </p>
        </div>
    </div>
    <a asp-controller="Home" asp-action="MainPage"><button class="mt-4 btn btn-primary mb-3">Quay lại trang chủ</button></a>

</div>

<style>
    .text-center {
        text-align: center;
    }

    .card {
        margin: auto;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        padding: 30px;
    }

    .card-body {
        padding: 20px;
    }

    .card-title {
        margin-bottom: 15px;
        font-size: 1.75rem;
        font-weight: bold;
    }

    .card-text {
        text-align: left;
        font-size: 1.1rem;
        line-height: 1.6;
    }

    .lo:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        font-size: 1rem;
        padding: 10px 20px;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }
</style>
