@{
    ViewData["Title"] = "UploadConfig";
    Layout = "~/Views/Shared/_Upload.cshtml";
}

<div class="hello">
    <img src="~/Image/white.jpg" alt="">
</div>

<div class="overlay d-flex justify-content-center align-items-center vh-100">
    <div class="upload-box p-4">
        <div class="print-preview">
            <div class="preview">
                <img src="~/Image/preview.JPG" width="325">
            </div>
        </div>
        <div class="print-config">
            <br />
            <p style="text-align:center;"><strong>Thiết lập cấu hình in</strong></p>
            <label for="campus">Cơ sở</label>
            <select name="campus" id="campus">
                <option value="" disabled selected></option>
                <option value="cs1">Cơ sở 1</option>
                <option value="cs2">Cơ sở 2</option>
            </select>
            <br />
            <label for="printers">Máy in</label>
            <select name="printers" id="printers">
                <option value="" disabled selected></option>
                <option value="1">Brother HL-L2321D</option>
                <option value="2">HP 107w Wifi (4ZB78A)</option>
                <option value="3" disabled>HP LaserJet MFP 135w Wifi (4ZB83A)</option>
                <option value="4">Canon PIXMA GM2070 Wifi</option>
                <option value="5" disabled>Epson EcoTank L3250 Wifi (C11CJ67503)</option>
            </select>
            <br />
            <label for="pages">Chọn trang cần in</label>
            <input type="text" name="pages" id="pages" placeholder="e.g. 1-5, 8, 11-13"/>
            <br/>
            <label for="sides">Số mặt in/1 tờ</label>
            <select name="sides" id="sides">
                <option value="" disabled selected></option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <br/>
            <label for="size">Khổ giấy</label>
            <select name="size" id="size">
                <option value="" disabled selected></option>
                <option value="a3">A3</option>
                <option value="a4">A4</option>
                <option value="a5">A5</option>
            </select>
            <br />
            <label for="ratio">Tỷ lệ</label>
            <select name="ratio" id="ratio">
                <option value="" disabled selected></option>
                <option value="fit">Vừa trang giấy</option>
                <option value="full">Toàn bộ</option>
            </select>
            <br />
            <label for="direction">Hướng in</label>
            <select name="direction" id="direction">
                <option value="" disabled selected></option>
                <option value="horizontal">Ngang</option>
                <option value="vertical">Dọc</option>
            </select>
            <div class="config">
                <button class="next" onclick="location.href='@Url.Action("Upload", "Home")'">Trở về</button>
                <button class="next" onclick="location.href='@Url.Action("UploadConfirm", "Home")'">Xác nhận</button>
            </div>
        </div>

    </div>
</div>

<style>
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .upload-box {
        display: flex;
        flex-direction: row;
        gap: 25px;
        max-width: 1100px;
     /*   background-color: rgba(255, 255, 255, 0.8); */
        padding: 20px;
        border-radius: 8px;
     /*   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Bóng mờ */
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .print-preview {
        margin: auto;
        width: 500px;
        height: 550px;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
    }

    .preview {
        width: 450px;
        height: 500px;
        background-color: rgb(30, 30, 30);
        padding: 20px;
        text-align: center;
    }

    .print-config {
        margin: auto;
        width: 500px;
        height: 550px;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    .delete {
        position: absolute;
        right: 10px;
        top: 10px;
        background: none;
        border: none;
        font-size: 1.2em;
        cursor: pointer;
    }

    .config {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .next {
        width: 100px;
        height: 35px;
        background-color: deepskyblue;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin-left: 50px;
        margin-right: 50px;
    }

    label {
        width: 150px;
        margin-left: 75px;
    }

    input, select {
        width: 200px;
        height: 35px;
        border: none;
        background-color: skyblue;
        border-radius: 5px;
        margin-bottom: 25px;
    }
</style>
