@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .account-box {
        max-width: 400px;
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Bóng mờ */
    }

    .hi:hover {
        background-color: forestgreen !important;
    }


</style>

<div class="hello ">
    <section class="banner-slider">
        <ul id="adaptive">
            <li><img src="~/Image/slbktv.jpg" width="1500" height="690"></li>
            <li><img src="~/Image/printer1.jpg" alt="" width="1500" height="690"></li>
            <li><img src="~/Image/printer2.jpg" width="1500" height="690"></li>
        </ul>
    </section>


</div>


<div class="overlay d-flex justify-content-center align-items-center vh-100">
    <div class="account-box bg-white p-4 rounded shadow" style="width: 100%; max-width: 500px;">
        <h2 class="text-center mb-4">Sign Up</h2>
        <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label  class="form-label">Name</label>
                <input  class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label  class="form-label">Email</label>
                <input  class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label  class="form-label">Password</label>
                <input  class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                <input  class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <input  asp-controller="Login" asp-action="Login"  type="submit" value="Register" class="btn hi w-100 p-2 text-white" style="background-color: #121C57" />
            <p class="text-center mt-2">
                Already have an account? <a asp-controller="Login" asp-action="Login" class="text-decoration-none">Login</a>
            </p>
            <div class="text-center">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none">Back</a>
            </div>
        </form>
    </div>
</div>